pulumi_content: |-
  #!/bin/sh
  pulumi login
  pulumi stack select rahulgoyal436/go-webserver/dev
  pulumi config set aws:region us-east-1
  pulumi up --yes
  pulumi stack output
pulumi_git_path: aws-go-webserver
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2022-10-28T09:42:35.657Z
