pulumi_content: |-
  #!/bin/sh
  pulumi stack select website-testing
  #pulumi config set aws:region us-west-1
  #pulumi up --yes
  pulumi destroy --yes
pulumi_git_path: aws-go-s3-folder
pulumi_uninstall: |-
  #!/bin/sh
  pulumi stack select website-testing
  pulumi destroy --yes
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-20T11:20:09.310Z
