pulumi_content: |-
  #!/bin/sh
  pulumi login
  pulumi stack select rahulgoyal436/go-webserver/dev
  pulumi config set aws:region us-east-1
  pulumi up
  pulumi stack output
pulumi_git_path: aws-go-webserver
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy --yes
  pulumi stack rm --yes
lastUpdatedBy: Rahul Goyal
lastUpdatedOn: 2022-10-26T16:08:47.842Z
